### Seperation and explosion of the "Cuisines" column

This notebook focuses on selecting and exploding the "Cuisines" column. By exploding this column, each cuisine type is analyzed individually, enabling more granular insights into cuisines trends and customer preferences

In [ ]:
import pandas as pd
import numpy as np
import re

df = pd.read_csv(r"C:\Users\MICHAEL KODUA BOAMAH\Desktop\Zomato_data_cleaning\Dataset\Cleaned_dataset.csv")

In [22]:
df.drop(["Restaurant_name","Address", "Online_order","Book_table","Book_table_rating","Votes","Location","Rest_type","Dish_liked_input","Dish_liked","Approx_cost_for_two","Experience_rating","Service_type","Listed_city"], axis=1, inplace=True)

In [23]:
df.head(2)

   Unnamed: 0                        Cuisines
0           0  North Indian, Mughlai, Chinese
1           1     Chinese, North Indian, Thai

In [24]:
df['Cuisines'] = df['Cuisines'].str.split(',')

In [25]:
df = df.explode('Cuisines')

In [26]:
df.head(2)

   Unnamed: 0      Cuisines
0           0  North Indian
0           0       Mughlai

In [27]:
df['Cuisines'] = df['Cuisines'].str.replace(',', '', regex=False).str.strip()

In [28]:
df.head(10)

   Unnamed: 0      Cuisines
0           0  North Indian
0           0       Mughlai
0           0       Chinese
1           1       Chinese
1           1  North Indian
1           1          Thai
2           2          Cafe
2           2       Mexican
2           2       Italian
3           3  South Indian

In [29]:
df.describe

<bound method NDFrame.describe of        Unnamed: 0      Cuisines
0               0  North Indian
0               0       Mughlai
0               0       Chinese
1               1       Chinese
1               1  North Indian
...           ...           ...
51584       51714   Finger Food
51585       51715   Finger Food
51586       51716   Finger Food
51586       51716  North Indian
51586       51716   Continental

[126583 rows x 2 columns]>

In [30]:
df.to_csv("Cuisines.csv", index=False)