### Seperation and explosion of the "Dish_liked" column

This notebook focuses on selecting and exploding the "Dish_liked" column to enable detailed analysis of individual dish preferences

In [ ]:
import pandas as pd
import numpy as np
import re

df = pd.read_csv(r"C:\Users\MICHAEL KODUA BOAMAH\Desktop\Zomato_data_cleaning\Dataset\Cleaned_dataset.csv")

In [11]:
df.drop(["Restaurant_name","Address", "Online_order","Book_table","Book_table_rating","Votes","Location","Rest_type","Dish_liked_input","Cuisines","Approx_cost_for_two","Experience_rating","Service_type","Listed_city"], axis=1, inplace=True)

In [12]:
df.head(2)

   Unnamed: 0                                         Dish_liked
0           0  Pasta, Lunch Buffet, Masala Papad, Paneer Laja...
1           1  Momos, Lunch Buffet, Chocolate Nirvana, Thai G...

In [13]:
df['Dish_liked'] = df['Dish_liked'].str.split(',')

In [14]:
df = df.explode('Dish_liked')

In [15]:
df.head()

   Unnamed: 0       Dish_liked
0           0            Pasta
0           0     Lunch Buffet
0           0     Masala Papad
0           0   Paneer Lajawab
0           0    Tomato Shorba

In [16]:
df['Dish_liked'] = df['Dish_liked'].str.replace(',', '', regex=False).str.strip()

In [17]:
df.head(10)

   Unnamed: 0         Dish_liked
0           0              Pasta
0           0       Lunch Buffet
0           0       Masala Papad
0           0     Paneer Lajawab
0           0      Tomato Shorba
0           0        Dum Biryani
0           0    Sweet Corn Soup
1           1              Momos
1           1       Lunch Buffet
1           1  Chocolate Nirvana

In [18]:
df.to_csv("Dish_liked.csv", index=False)