### Seperation and explosion of the "Rest_type" column

This notebook focuses on selecting and exploding the "Rest_type" column. Exploding this column enables detailed analysis of each rest_type individually, supporting deeper insights into customer preferences and market segmentation

In [ ]:
import pandas as pd
import numpy as np
import re

df = pd.read_csv(r"C:\Users\MICHAEL KODUA BOAMAH\Desktop\Zomato_data_cleaning\Dataset\Cleaned_dataset.csv")

In [2]:
df.drop(["Restaurant_name","Address", "Online_order","Book_table","Book_table_rating","Votes","Location","Dish_liked","Dish_liked_input","Cuisines","Approx_cost_for_two","Experience_rating","Service_type","Listed_city"], axis=1, inplace=True)

In [3]:
df.head()

   Unnamed: 0            Rest_type
0           0        Casual Dining
1           1        Casual Dining
2           2  Cafe, Casual Dining
3           3          Quick Bites
4           4        Casual Dining

In [4]:
df['Rest_type'] = df['Rest_type'].str.split(',')

In [5]:
df = df.explode('Rest_type')

In [6]:
df.head(5)

   Unnamed: 0       Rest_type
0           0   Casual Dining
1           1   Casual Dining
2           2            Cafe
2           2   Casual Dining
3           3     Quick Bites

In [7]:
df['Rest_type'] = df['Rest_type'].str.strip()

In [8]:
df.head(5)

   Unnamed: 0      Rest_type
0           0  Casual Dining
1           1  Casual Dining
2           2           Cafe
2           2  Casual Dining
3           3    Quick Bites

In [9]:
df['Rest_type'] = df['Rest_type'].str.replace(',', '', regex=False).str.strip()

In [10]:
df.head(10)

   Unnamed: 0      Rest_type
0           0  Casual Dining
1           1  Casual Dining
2           2           Cafe
2           2  Casual Dining
3           3    Quick Bites
4           4  Casual Dining
5           5  Casual Dining
6           6  Casual Dining
7           7  Casual Dining
7           7           Cafe

In [11]:
df.to_csv("Rest_type.csv", index=False)